<%= form_for @project, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @project.errors.any? %>
    <%= render( :partial => 'shared/errors', :object => @project.errors ) =%>
  <% end %>
  
  <div class="control-group">
    <%= f.label :name, "Name", :class => 'control-label cumpolsary-field' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label cumpolsary-field' %>
    <div class="controls">
      <% #FIXME_AB: Constant should be defined in Employee so that we can use Employee::DESIGNATIONS 
      # Fixed -%>
      <%= f.select :state, options_for_select( Project::STATE.sort, @project.state ) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, "Start Date", :class => 'control-label cumpolsary-field' %>
    <div class="controls">
        <%= f.text_field :start_date, :class => 'date-field', :value => format_date( @project.start_date ) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, "End Date", :class => 'control-label cumpolsary-field' %>
    <div class="controls">
      <%= f.text_field :end_date, :class => 'date-field', :value => format_date( @project.end_date ) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', projects_path, class: "btn" %>
  </div>
<% end %>
