<div class="page-header">
  <h1><%=t '.title', :default => "Project Assignments" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "Id" %></th>
      <th><%= "Employee Name" %></th>
      <th><%= "Project Name" %></th>
      <th><%= "Join From" %></th>
      <th><%= "Relieving On" %></th>
      <th><%= "Involvement" %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @project_assignments.each do |project_assignment| %>
      <tr>
        <td><%= link_to project_assignment.id, project_assignment_path(project_assignment)  %></td>
        <td><%= employee_name(project_assignment.employee_id ) %></td>
        <td><%= project_name( project_assignment.project_id ) %></td>
        <td><%= format_date( project_assignment.join_from ) %></td>
        <td><%= format_date( project_assignment.relieving_date ) %></td>
        <td><%= project_assignment.involvement %></td>
        <td>
          <%= link_to 'Edit', edit_project_assignment_path(project_assignment), class: "btn" %>
          <%= link_to 'Delete',
            project_assignment_path(project_assignment),
            :method => :delete, :data => { :confirm => 'Are you sure?'},
            :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_project_assignment_path, :class => 'btn btn-primary' %>
